
<%= error_messages_for 'rip' %>

<table>
<tr>
  <td>Name: </td>
  <td><%= text_field 'rip', 'name',  :size => '25' %></td>
</tr>
<tr>
  <td>Description: </td>
  <td><%= text_field 'rip', 'description',  :size => '50' %></td>
</tr>
<tr>
  <td>Start Page: </td>
  <td><%= text_field 'rip', 'start_page',  :size => '50' %></td>
</tr>
<tr>
   <td></td>
   <td><%= submit_tag %></td>
</tr>
</table>
 