
<%= error_messages_for 'rip' %>

<table id="rip">
<tr>
  <td>Name: </td>
  <td><%= text_field 'rip', 'name',  :size => '25' %></td>
</tr>
<tr>
  <td>Description: </td>
  <td><%= text_field 'rip', 'description',  :size => '50' %></td>
</tr>
<tr>
  <td>Start Page: </td>
  <td><%= text_field 'rip', 'start_page', :size => '50' %></td>
</tr>
</table>


<h2>Bits</h2>

<div id="bits">
<%= render :partial => 'bit/bit', :collection => @rip.bits %>
</div>

<%= hidden_field_tag 'bit_order', bit_order %>

<%= sortable_element "bits", 
		:onUpdate => 'function(){$("bit_order").value = Sortable.sequence("bits");}', 
		:tag => 'table', 
		:constraint => :vertical %>

<%= render :partial => 'bit/add_bit_link', :locals => { :index => @rip.bits.size } %>


<%= submit_tag %>
 