<noscript id="notice">
<p><%= msg 'starter_noscript' %></p><br/> 
</noscript>

<% form_tag action do -%>

<div id="ripform">
	<%= render :partial => 'type' %>
	<table class="fullwidth">
	<%= render :partial => 'mainrip', 
			   :locals => {:start_page => @rip.main_navi?} %>
<% if not @rip.multi? %>
	<tr>
	  <td>Next Link </td>
	  <td>
	  	<%= text_field 'rip', 'next_link', :size => '30' %>
	  	<%= text_field 'rip', 'next_pages', :size => '2' %>
		# pages
	  </td>
	  <td><%= t 'rip_next_link' %></td>
	</tr>
<% end -%>	
	</table>
	
<% if @rip.main_navi? %>	
	<%= render :partial => 'navi_action/form',  
			   :locals => { :rip => @rip,
						    :subrip_index => nil } %>
<% end -%>

<% if @rip.multi? %>
	<div id="subrips">
	<%= render :partial => 'subrip', 
			   :collection => @rip.children, 
	   	       :locals => {:start_page => !@rip.main_navi?} %>
	</div>
	<br/>
	<hr/>
	<%= render :partial => 'add_subrip_link', 
			   :locals => { :subrip_index => @rip.children.size ,
							:start_page => !@rip.main_navi? } %>
<% else -%>	
	<%= render :partial => 'bit/form', 
			   :locals => { :rip => @rip,
						    :subrip_index => nil } %>
<% end -%>	
	
</div>

<%= render :partial => 'right', :locals => {:action => action} %>

<% end  # form -%>

<% @bottom_js += render :partial => 'errors_js' %>
<% @bottom_js += render :partial => 'js' %>
<% @bottom_js += render :partial => 'navi_action/js' %>
<% @bottom_js += render :partial => 'bit/js' %>