
<% form_tag action do -%>
<div id="ripform">
	<table id="rip">
	<tr>
	  <td>Name </td>
	  <td><%= text_field 'rip', 'name',  :size => '25' %></td>
	  <td><%= t 'rip_name' %></td>
	</tr>
	<tr>
	  <td>Title </td>
	  <td><%= text_field 'rip', 'description',  :size => '50' %></td>
	  <td><%= t 'rip_title' %></td>
	</tr>
	<tr>
	  <td>Start Page </td>
	  <td><%= text_field 'rip', 'start_page', :size => '50' %></td>
	  <td><%= t 'rip_start_page' %></td>
	</tr>
	<tr>
	  <td>Next Link </td>
	  <td>
	  	<%= text_field 'rip', 'next_link', :size => '30' %>
	  	<%= text_field 'rip', 'next_pages', :size => '2' %>
		# pages
	  </td>
	  <td><%= t 'rip_next_link' %></td>
	</tr>
	</table>
	
	<h2 class="header">Navigate</h2>
	
	<div id="navis">
	<%= render :partial => 'navi_action/navi', :collection => @rip.navi_actions %>
	</div>
	
	<table width="100%"><tr>
	<%= render :partial => 'navi_action/add_link', :locals => { :index => @rip.navi_actions.size } %>
	<%= render :partial => 'navi_action/remove_link', :locals => { :index => @rip.navi_actions.size - 1 } %>
	</tr></table>
	
	<h2 class="header">Bits</h2>
	
	<ul id="bits">
	<%= render :partial => 'bit/bit', :collection => @rip.bits %>
	</ul>
	
	<%= hidden_field_tag 'bit_order', bit_order %>
	
	<%= render :partial => 'bit/add_link', :locals => { :index => @rip.bits.size } %>
	
	<%= sortable_element "bits", 
			:onUpdate => 'function(){$("bit_order").value = Sortable.sequence("bits");}', 
			:tag => 'li', 
			:constraint => :vertical %>
</div>

<div id="rightform">
	<%= submit_to_target 'Preview', {:action => 'preview_temp'}, 'preview' %>
	<input type="reset" />
	<%= submit_to_target 'Save', action, '_self' %>
	<br/>
	<br/>
	<%= render :partial => 'iframe' %>
</div>

<% end  # form -%>

<script type="text/javascript">
function submit_form(url, target) {
	form = document.forms[0];
	form.action = url;
	form.target = target;
	return form.submit();
}

<% if not @rip.errors.empty? -%>
	frame = parent.preview
	doc = frame.document;
	if(frame.contentDocument)
        doc = frame.contentDocument; // For NS6
    else if(frame.contentWindow)
        doc = frame.contentWindow.document; // For IE5.5 and IE6
	doc.open();
	doc.writeln("<%= escape_javascript(render :partial => 'errors') %>");
	doc.close();
<% end -%>

</script>