<div id="ripinfo">
<% if @rip -%>	
	<h3>
		<%= @rip.description %> 
		<%= link_to '[..] <span style="font-size: smaller;">Edit this bitRip</span>', 
					id_action(:edit, @rip), 
					:class => 'help' %>
	</h3>

	<%= link_to "direct link", 
				:only_path => false, 
				:controller => @rip.name %>
	<%= link_to("[..] <span>Change parameters of this bitRip</span>", 
				id_action(:query, @rip), 
				:target => 'preview', 
				:class => 'help' ) if @rip.has_fields? %>
	<br/>
	<div style="font-size: smaller;">
	Data by <%= @rip.sources.join(',') %>
	<br/>
	Revision #<%= @rip.revision %> 
	<%= link_to "[history]", :action => :history, :id => @rip.name %> 
	<%= link_to "[-] <span>Delete this bitRip</span>", {:action => :delete, :id => @rip.id},
				:method => :post,
				:confirm => 'Do you want to move this rip to the trash?',
				:class => 'help' %>	
	</div>
	
	<br/>
<% end -%>
</div>