<tr>
  <td>Name </td>
  <td><%= text_field 'rip', 'name',  :size => '25' %></td>
  <td><%= t 'rip_name' %></td>
</tr>
<tr>
  <td>Title </td>
  <td><%= text_field 'rip', 'description',  :size => '50' %></td>
  <td><%= t 'rip_title' %></td>
</tr>
<% if start_page %>
<tr>
  <td>Start Page </td>
  <td><%= text_field 'rip', 'start_page', :size => '50' %></td>
  <td><%= t 'rip_start_page' %></td>
</tr>
<% end -%>