<% subrip_index ||= subrip_counter -%>
<div id="subrip_<%= subrip_index %>">

<h2 class="header">=== Page Rip ===</h2>

<div class="right">
<%= link_to_remote '<span>Remove this page</span>[-]', 
			   :url => { :controller => :rip,  
					     :action => :remove_subrip, 
					     :subrip_index => subrip_index }, 
			   :confirm => 'You are about to remove this entire page rip.',
		       :html => { :class => 'help' } %>
</div>

<% fields_for "subrip[#{subrip_index}]", subrip do |f| -%>
<table>
<tr>
  <td>Title </td>
  <td><%= f.text_field 'description',  :size => '50' %></td>
  <td><%= t 'rip_title' %></td>
</tr>
<% if start_page -%>
<tr>
  <td>Start Page </td>
  <td><%= f.text_field 'start_page', :size => '50' %></td>
  <td><%= t 'rip_start_page' %></td>
</tr>
<% end -%>
<tr>
  <td>Next Link </td>
  <td>
  	<%= f.text_field 'next_link', :size => '30' %>
  	<%= f.text_field 'next_pages', :size => '2' %>
	# pages
  </td>
  <td><%= t 'rip_next_link' %></td>
</tr>
</table>
<% end -%>

<%= render :partial => 'navi_action/form', 
		   :locals => {:rip => subrip, 
					   :subrip_index => subrip_index} %>

<%= render :partial => 'bit/form', 
		   :locals => {:rip => subrip,
					   :subrip_index => subrip_index} %>

</div>
