<% subrip_index ||= subrip_counter -%>

<div id="subrip_<%= subrip_index %>">

<%= link_to_function "<h2 class=\"header\">=== Page Rip ===</h2>",
					 visual_effect(:toggle_slide, "toggle_subrip_#{subrip_index}", :duration => 0.25) %>

<div id="toggle_subrip_<%= subrip_index %>">
	
<div class="right">
<%= link_to_function '<span>Remove this page</span>[-]', 
					 "removeSubrip(#{subrip_index}, #{start_page})",
			   		 :class => 'help' %>
</div>

<% fields_for "subrip[#{subrip_index}]", subrip do |f| -%>
<table class="fullwidth">
<tr>
  <td>Title </td>
  <td><%= f.text_field 'description',  :size => '50' %></td>
  <td><%= t 'rip_title' %></td>
</tr>
<% if start_page -%>
<tr id="start_page_<%= subrip_index %>">
  <td>Start Page </td>
  <td><%= f.text_field 'start_page', :size => '50' %></td>
  <td><%= t 'rip_start_page' %></td>
</tr>
<% end -%>
<tr>
  <td>Next Link </td>
  <td>
  	<%= f.text_field 'next_link', :size => '30' %>
  	<%= f.text_field 'next_pages', :size => '2' %>
	# pages
  </td>
  <td><%= t 'rip_next_link' %></td>
</tr>
</table>
<% end -%>

<%= render :partial => 'navi_action/form', 
		   :locals => {:rip => subrip, 
					   :subrip_index => subrip_index,
				       :sub_suffix => sub_suffix} %>

<%= render :partial => 'bit/form', 
		   :locals => {:rip => subrip,
					   :subrip_index => subrip_index,
					   :sub_suffix => sub_suffix} %>
</div>
</div>
