<div id="indexright">
<%= render :partial => 'info' %>	

<%= render :partial => 'iframe' %>
</div>

<table id="riplist" class="indexleft">
<tr>
	<td>
	<% per_column = ([@list.size, PER_PAGE].max / NO_OF_COLUMNS.to_f).ceil %>
	<%= render :partial => 'link', 
			   :collection => @list, 
			   :locals =>  { :per_column => per_column }%>
	</td>
</tr>	 
</table>

<table class="indexleft">
<tr>
	<td class="control">
	<% if @use_id -%>
	<%= link_to '[&lt;-] <span>Back to overview</span>', {:action => 'index'}, :class => 'help' %>	
	<% else -%>
	<%= link_to '[+] <span>Create a new bitRip</span>', {:action => 'add'}, :class => 'help' %>
	<% end -%>
	</td>
	<td>
	<%= will_paginate @list, :inner_window => 10, :outer_window => 2 %>
	</td>
	<% unless @use_id -%>
	<td class="right">
	<%= link_to '<span>View trashed bitRips</span> [Trash]', {:action => 'trash'}, :class => 'help' %>
	</td>
	<% end -%>
</tr>
</table>
