<% @title = h @rip.name %>

<h1><%= h @rip.description %></h1>
<%= render :partial => 'bit/show', :collection => @rip.bits %>

<% @rip.children.each do |subrip| -%>
	<% if subrip.description -%>
		<h2><%= h subrip.description %></h2>
	<% end %>
	<%= render :partial => 'bit/show', :collection => subrip.bits %>
<% end -%>

<p class="sources">
all data by
<%= @rip.sources.collect {|s| "<a href=\"#{s}\">#{s}</a>"}.join(", ") %>
</p>

<% if params_submitted? -%>
	<p class="small">
	direct link
	<% link = current_link %>
	<a href="<%= link %>"><%= link %></a>
	</p>
<% end -%>