<% index ||= navi_counter -%>

<div id="navi_<%= index %>">
	
<% fields_for "navi[#{index}]", navi do |f| -%>
  <%= f.hidden_field :position %>
  <% if navi.type %>
	<%= f.hidden_field :type %>
  <% else -%>
	<div id="type_<%= index %>" class="indent">
	Type
	<%= f.radio_button :type, :form %>Form  	
	<%= f.radio_button :type, :link %>Link	
	
	<%= observe_type_field :form, index %>
	<%= observe_type_field :link, index %>
	</div>
	<br/>
  <% end  # if navi.type -%>

<% end  # fields_for -%>

<div id="navi_fields_<%= index %>">
	<%= render_type_partial navi, index %>	
</div>

<hr/>
</div>