<% index ||= navi_counter -%>

<div id="navi_<%= index %>">
	
<% fields_for "navi[#{index}]", navi do |f| -%>
<%= f.hidden_field :position %>

Type: <%= f.collection_select :type,
							  NaviAction::TYPES, 
							  :to_s, 
							  :to_s, 
							  {:include_blank => true}  %>				  
<br/>

<%= observe_field "navi_#{index}_type", 
				  # TODO: check if not first selection, if start_url empty, ..
			      :url => { :controller => :navi_action, :action => :add_type_fields, :index => index },
				  :with => "'type=' + value",
				  :update => "navi_fields_#{index}" %>
				  
<div id="navi_fields_<%= index %>">
	<%= render_type_partial navi, index %>	
</div>

<% end  # fields_for -%>

<hr/>
</div>