<% index ||= bit_counter -%>

<li id="bit_<%= index %>">
<% fields_for "bits[#{index}]", bit do |f| -%>
<table>
  <tr>
  	<td>Label: </td>
	<td><%= f.text_field :label, :size => '25' %></td>
	<td><%= t 'bit_label' %></td>
  </tr>
  <tr>
  	<td>XPath: </td>
	<td><%= f.text_field :xpath, :size => '50' %></td>
	<td><%= t 'bit_xpath' %></td>
  </tr>
  <tr>
  	<td>Generalize: </td>
	<td><%= f.check_box :generalize %></td>
	<td><%= t 'bit_generalize' %></td>
  </tr>
  <tr>
  	<td colspan="3" class="right">
	<%= link_to_remote '<span>Remove this bit</span>[-]', 
					   :url => { :controller => :bit,  
							     :action => :remove, 
							     :index => index }, 
				       :html => { :class => 'help' } %>
	&nbsp;&nbsp;			   
  	</td>
  </tr>
</table>
<% end -%>
<hr/>
</li>