<% index ||= bit_counter -%>

<li id="bit_<%= index %>" style="position: relative;">
<% fields_for "bits[#{index}]", bit do |f| -%>
<table>
  <tr>
  	<td>Label: </td>
	<td><%= f.text_field :label, :size => '25' %></td>
  </tr>
  <tr>
  	<td>XPath: </td>
	<td><%= f.text_field :xpath, :size => '50' %></td>
  </tr>
  <tr>
  	<td>Generalize: </td>
	<td><%= f.check_box :generalize %></td>
  </tr>
  <tr>
  	<td colspan="2">
	<%= link_to_remote 'remove', :url => { :controller => 'bit',  :action => 'remove_bit', :index => index } %>
    <br/>
	</td>
  </tr>
</table>
<% end -%>
<hr/>
</li>