<% index ||= bit_counter -%>

<li id="bit_<%= index %>">
<% fields_for "bits[#{index}]", bit do |f| -%>
<table>
  <tr>
  	<td>Label: </td>
	<td><%= f.text_field :label, :size => '25' %></td>
	<td></td>
  </tr>
  <tr>
  	<td>XPath: </td>
	<td><%= f.text_field :xpath, :size => '50' %></td>
	<td></td>
  </tr>
  <tr>
  	<td>Generalize: </td>
	<td><%= f.check_box :generalize %></td>
	<td class="right">
	<%= link_to_remote '[-]', :url => { :controller => :bit,  
									   :action => :remove, 
									   :index => index } %>
	</td>
  </tr>
</table>
<% end -%>
<hr/>
</li>