<% 
index ||= bit_counter
id_suffix ||= id_suffix index, subrip_index
field_suffix ||= field_suffix index, subrip_index
bit_suffix ||= subrip_index ? "sub#{subrip_index}" : ""	# no '_' for sortable_element
subrip_index ||= -1
-%>

<li id="bit<%= "#{bit_suffix}_#{index}" %>">
<% fields_for "bits#{field_suffix}", bit do |f| -%>
<table class="fullwidth">
  <tr>
  	<td>Label </td>
	<td colspan="2"><%= f.text_field :label, :size => '25' %></td>
	<td><%= t 'bit_label' %></td>
  </tr>
  <tr>
  	<td>XPath </td>
	<td colspan="2"><%= f.text_field :xpath, :size => '50' %></td>
	<td><%= t 'bit_xpath' %></td>
  </tr>
  <tr>
	<td>Indizes </td>
	<td>
		<%= f.text_field :select_indizes, :size => '20' %>
		<%= t 'bit_select_indizes' %>
	</td>
	<!---
  	<td> Generalize <%= f.check_box :generalize %></td>
	<td><%= t 'bit_generalize' %></td>
	--->
	<td colspan="2" style="vertical-align: bottom;">
	<%= link_to_function '<span>Remove this bit</span>[-]', 
					 	 "removeBit(#{index}, #{subrip_index})",
					     :class => 'help' %>			   
  	</td>
  </tr>
</table>
<% end -%>
<hr class="indent"/>
</li>