<% 
index ||= bit_counter
id_suffix, field_suffix = sub_suffixes index, subrip_index
bit_suffix = subrip_index ? "sub#{subrip_index}" : ""	# no _ for sortable_element
-%>

<li id="bit<%= "#{bit_suffix}_#{index}" %>">
<% fields_for "bits#{field_suffix}", bit do |f| -%>
<table width="100%">
  <tr>
  	<td>Label </td>
	<td colspan="2"><%= f.text_field :label, :size => '25' %></td>
	<td><%= t 'bit_label' %></td>
  </tr>
  <tr>
  	<td>XPath </td>
	<td colspan="2"><%= f.text_field :xpath, :size => '50' %></td>
	<td><%= t 'bit_xpath' %></td>
  </tr>
  <tr>
	<td>Select </td>
	<td>
		<%= f.text_field :select_indizes, :size => '20' %>
		<%= t 'bit_select_indizes' %>
	</td>
	<!---
  	<td> Generalize <%= f.check_box :generalize %></td>
	<td><%= t 'bit_generalize' %></td>
	--->
  </tr>
  <tr>
  	<td colspan="4" class="right">
	<%= link_to_remote '<span>Remove this bit</span>[-]', 
					   :url => { :controller => :bit,  
							     :action => :remove, 
							     :subrip_index => subrip_index,
							     :index => index }, 
				       :html => { :class => 'help' } %>
	&nbsp;			   
  	</td>
  </tr>
</table>
<% end -%>
<hr class="indent"/>
</li>