<% id_suffix, field_suffix = sub_suffixes index, subrip_index %>
<% fields_for("fields#{field_suffix}[#{field_counter}]", field) do |f| -%>
<tr>
	<td>
	<%= field.name %> 
	<%= f.hidden_field :name %>
	<%= f.hidden_field :type %>
	<%= f.hidden_field :options %>
	</td>
	<% # TODO: appropriate control for field.type -%>
	<td>
	<% if field.type == :radio %>
		<% field.options_arr.each do |opt| -%>
		<%= f.radio_button :value, opt %><%= opt %><br/>
		<% end -%>
	<% else -%>
	    <%= f.text_field :value, :size => '30' %> 
	<% end -%>
	</td>
	<td><%= f.check_box :required  %>*</td>
	<td><%= f.check_box :constant  %>C</td>
</tr>    
<% end -%>