<tr>
	<td valign="top"><%= query.name %></td>
	<td>
	<% # TODO: show appropriate input field %>
	<% if query.type == :radio %>
		<% query.options_arr.each do |opt| -%>
			<%= radio_button_tag query.name, opt, opt == query.value %><%= opt %><br/>
		<% end -%>
	<% else -%>
		<%= text_field_tag (subrip_index ? "#{query.name}_#{subrip_index}" : query.name), 
							query.value, 
							:size => 20 %>
	<% end -%>
		<%= '*' if query.required %>
	</td>
</tr>